p {
    font-size: 100;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 100;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 100;
    font-family: 'Poppins', sans-serif;
}